@import 'variables.less';
@charset "utf-8";
body {
    font-family: Roboto, "Segoe UI", "Helvetica Neue";
    /*background:url(../images/headerright.svg) 100% 0 no-repeat;*/
    overflow-x: hidden;
    width: 100%;
}
.cotopiaone {
    background: url(../images/headerleft.svg) 0 100% no-repeat;
}
.btn-primary-soft{border:solid 1px @blue; color:@blue}
.cotopiathree {
    background: url(../images/howitworksleft.svg) 0 0 no-repeat;
    background-size: contain;

    .lead {
        font-size: calc(1.25625rem + .075vw);
    }
}
.greybg{

    background:@greybg;
}
.gradient-y-gray {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(231, 234, 243, 0.5) 100%);
    background-repeat: repeat-x;
}
.gcalendar{
    position:absolute;
    left:50%;
    margin-left:-40px;
    top:-60px;
}
.h1, h1 {
    font-size: 3.1rem;
    font-weight:700;
}
.lead {
    font-size: 2.1rem;
    font-weight: 400;
}
.btn {
    padding: 8px;
    height:44px;
}

.btn-primary{
    background:@blue;
}
.darkbg{

    background:@darkbg;
}

.bubble {
    height: auto;
    min-height:200px;
    width: 100%;
    background: #fff;
    position: relative;
    cursor: pointer;
    border: 1px dashed #000;
    border-radius: 30px;
}

.bubble:before {
    content: "";
    position: absolute;
    top: 98%;
    left: 80px;
    height: 40px;
    width: 40px;
    background: #fff;
    box-sizing: border-box;
    transform: rotate(45deg) translate(-50%);
    border-bottom: inherit;
    border-right: inherit;
    box-shadow: inherit;
}

.teamsection {
    background: url(../images/teambg.svg) 50% 0 no-repeat;
}

.text-blue{
    color:@blue;
}
.badge img{
    width:28px;
}
.questions p {
    font-size: calc(1.25625rem + .075vw);
    text-align: left;
}

p {
    font-size: calc(1.25625rem + .075vw);
    color: @bodytext;
}

footer a{
    margin-right:4rem;
    color:#000;

    &:hover{
        text-decoration:none;
        color:@blue;
    }

   
}


/*navbar*/

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.header .navbar-nav-item:first-child .nav-link {
    padding-left: 0;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .navbar-brand {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

.btn-group-sm > .btn-icon.btn, .btn-icon.btn-sm {
    font-size: .8125rem;
    width: 2.6875rem;
    height: 2.6875rem;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
}
.navbar-toggler .navbar-toggler-default {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-toggled {
    display: -ms-flexbox;
    display: flex;
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-default {
    display: none;
}
.navbar-toggler {
    background-color: @greybg;
}

.navbar-toggler .navbar-toggler-toggled {
    display: none;
}

.rounded-circle {
    border-radius: 50% !important;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.nav-link-toggle {
    position: relative;
}

.nav-link {
    color: #677788;
    font-size: 1.2rem;

    display: block;
    padding: .5rem 1rem;
}
footer {

    .d-flex {
        flex-wrap: wrap;
    }
}

.copyright {
   /*flex: 0 0 100%;*/
}


.order-md-1 {
    -webkit-box-ordinal-group: 2;
    order: 1;
}

    .order-md-2 {
        -webkit-box-ordinal-group: 3;
        order: 2;
    }

@media (max-width: 991.98px) {
    .lead {
    font-size:1.25rem;


    }

    .bubble h5{
        margin-top:25px;
    }
    
}

@media (max-width: 1200px){
.h2, h2 {
    font-size: calc(1.25625rem + .075vw);
}
}

@media (min-width: 768px) {
    .copyright{
        margin-left:auto;
    }
}

@media (min-width: 992px) { .header .navbar-body, .header .navbar-nav {
    margin-left: auto;
}
                            }

.gimage {
    background: #fff;
padding:8px;
   
    height: 41px;
    width:41px;
    position:absolute;
    top:0px;
    left:0px;
    border-radius:2px;
    
    }

.gbtn{
    padding-left:62px;
    text-align:left !important;
  padding-top:8px;
   font-weight:600;
    position:relative;
    border:solid 1px @blue;
}
.shadow-sm {
    box-shadow: 0 .05rem .05rem rgba(0,0,0,.25) !important;
}