@import 'variables.less';
@charset "utf-8";
body {
 font-family:   "Segoe UI",Roboto,"Helvetica Neue";
 background:url(../images/headerright.svg) 100% 0 no-repeat;
 overflow-x:hidden;
 width:100%;
}
.cotopiaone {
    background: url(../images/headerleft.svg) 0 100% no-repeat;
}
.btn-primary-soft{border:solid 1px @blue; color:@blue}
.cotopiathree {
    background: url(../images/howitworksleft.svg) 0 0 no-repeat;
    background-size: contain;

    .lead {
        font-size: calc(1.25625rem + .075vw);
    }
}
.greybg{

    background:@greybg;
}
.gradient-y-gray {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(231, 234, 243, 0.5) 100%);
    background-repeat: repeat-x;
}

.h1, h1 {
    font-size: 3.5rem;
}
.lead {
    font-size: 2.1rem;
    font-weight: 400;
}
.btn {
    padding: .975rem .75rem;
}

.btn-primary{
    background:@blue;
}
.darkbg{

    background:@darkbg;
}

.bubble {
    height: auto;
    min-height:200px;
    width: 100%;
    background: #fff;
    position: relative;
    cursor: pointer;
    border: 1px dashed #000;
    border-radius: 10px;
}

.bubble:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 30px;
    height: 20px;
    width: 20px;
    background: #fff;
    box-sizing: border-box;
    transform: rotate(45deg) translate(-50%);
    border-bottom: inherit;
    border-right: inherit;
    box-shadow: inherit;
}

.teamsection {
    background: url(../images/teambg.svg) 50% 0 no-repeat;
}

.text-blue{
    color:@blue;
}

.questions p {
    font-size: calc(1.25625rem + .075vw);
    text-align: left;
}

footer a{
    margin-right:4rem;
    color:#000;

    &:hover{
        text-decoration:none;
        color:@blue;
    }

   
}

footer {

    .d-flex {
        flex-wrap: wrap;
    }
}

.copyright {
   /*flex: 0 0 100%;*/
}


.order-md-1 {
    -webkit-box-ordinal-group: 2;
    order: 1;
}

    .order-md-2 {
        -webkit-box-ordinal-group: 3;
        order: 2;
    }

@media (max-width: 991.98px) {
    .lead {
    font-size:1.25rem;


    }
}

@media (max-width: 1200px){
.h2, h2 {
    font-size: calc(1.25625rem + .075vw);
}
}

@media (min-width: 768px) {
    .copyright{
        margin-left:auto;
    }
}